*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-dark: #261605;
  --primary-orange: #ec7147;
  --secondary-orange: #ffbb42;
  --primary-bg: #e6e2dd;
  --primary-header: #f7f7f7;
  --main-body:#333;
  --text-gray:#666;
  --text-hover: #000;
}

/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Merriweather:wght@400;700&display=swap"); */

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
  color:var(--main-body);
}

.container {
  padding: 0.5rem 1.5rem;
  margin: 1rem auto;
  width: 100%;
}

h1,
h2,
h3 {
  margin: 20px 0;
}

h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.75rem;
}

.header {
  color:var(--main-body);
  background-color: var(--primary-header);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: none;
}

.mob-menu__toggle {
  border: none;
  background: none;
}

.mob-menu-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}

.mob-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  background-color: var(--primary-header);
  padding: 3rem 1rem;
}

.mob-nav__list {
  list-style: none;
  text-align: center;
  padding: 4rem 1rem;
}

.mob-nav__item {
  margin-bottom: 20px;
}

.mob-nav__link {
  color:var(--text-gray);
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease;
}

.mob-nav__link:hover,
.mob-nav__link:focus {
  transform: translateY(-2px);
  color: var(--text-hover);
}

.close-menu {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

.close-menu img {
  width: 30px;
  height: 30px;
}

.hero {
  position: relative;
  background-image: url("assets/bg.png");
  background-size: cover;
  background-position: 70%;
  height: 100vh;
  display: flex;
  align-items: center;
}

.hero__content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  color: var(--text-dark);
  background-color: rgba(255, 255, 255, 0.7);
  padding: 1rem 0;
  border-radius: 8px;
  max-width: 90%;
}

.hero__content h1 {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: -2px;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.3);
}

.date {
  font-size: 2.5rem;
  font-weight: 900;
}

.registration{
  color:red;
}

.decorative-line {
  width: 50px;
  height: 4px;
  background-color: red;
  margin: 8px 0;
}

.tagline {
  font-size: 1.5rem;
}

.location{
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.apply-btn-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.apply-btn {
  display: inline-block;
  min-width: 300px;
  min-height: 60px;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  text-align: center;
  background: rgba(98, 242, 198, 1);
  background: linear-gradient(90deg, rgba(98, 242, 198, 1) 60%, rgba(79, 209, 187, 1) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(98,242,198,0.64);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  position: relative;
  padding: 10px;
  text-decoration: none;
  overflow: visible; 
}

.apply-btn:hover, .apply-btn:focus {
  color: #313133;
  transform: translateY(-6px);
}


.apply-btn::before, .apply-btn::after {
  content: '';
  position: absolute;
  border-radius: 1000px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all .3s ease-in-out;
}

.apply-btn::before {
  width: calc(100% + 12px);
  height: calc(100% + 12px);
  border: 6px solid rgba(98, 242, 198, 1);
  box-shadow: 0 0 60px rgba(98, 242, 198, 0.64);
  opacity: 0;
}

.apply-btn::after {
  width: 30px;
  height: 30px;
  border: 6px solid rgba(98, 242, 198, 1);
  animation: ring 1.5s infinite;
  z-index: -1;
}

.apply-btn:hover::before, .apply-btn:focus::before {
  opacity: 1;
}

.apply-btn:hover::after, .apply-btn:focus::after {
  animation: none;
  display:none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}

.about-section__title {
  font-family: "Merriweather", serif;
  color: var(--primary-orange);
  text-align: center;
}

.section__heading {
  font-family: "Merriweather", serif;
  color: var(--primary-orange);
  font-size: 1.8rem;
}

.about-section__list {
  list-style: none;
  padding: 0;
  margin-top: 1rem;
}

.about-section__item {
  background: var(--primary-header);
  border-radius: 15px;
  padding: 1.5rem;
  margin-bottom: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.section__subheading {
  font-family: "Merriweather", serif;
  color: var(--secondary-orange);
  font-size: 1.4rem;
}

.about-section__text {
  color: var(--text-dark);
  line-height: 1.6;
  font-size: 1rem;
}

.about-section__text--emphasis {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.contact-item {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  text-decoration: none;
  color: var(--text-dark);
  transition: color 0.3s ease-in-out;
}

.contact-item p {
  margin-left: 10px;
  margin-bottom: 0;
  font-family: "Open Sans", sans-serif;
}

.contact-icon {
  width: 28px;
  height: 28px;
  margin-right: 10px;
}

.contact-item:hover .contact-icon,
.contact-item:hover p,
.contact-item:focus .contact-icon,
.contact-item:hover p {
  transform: scale(1.1);
  fill:var(--text-gray);

  transition: transform 0.3s ease-in-out;
}

.footer {
  background-color: var(--primary-header);
  color:var(--main-body);
  padding: 1rem;
  text-align: center;
}

.footer p {
  color:var(--main-body);
  margin: 0 10px;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2.75rem;
  }

  .hero {
    background-position: 64%;
  }

  .hero__content h1 {
    color: inherit;
    font-size: 4rem;
    max-width: 60%;
  }

  .about-section__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }

  .contact-methods {
    display: flex;
    justify-content: space-between;
  }

  .contact-item {
    width: 30%;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }

  .mob-menu__toggle {
    display: none;
  }

  .mob-menu-overlay {
    display: none;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav__logo {
    height: 90px;
    border-radius: 50%;
  }

  .nav__list {
    list-style: none;
    display: flex;
  }

  .nav__item {
    margin: 0 15px;
  }

  .nav__link {
    color:var(--text-gray);
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    transition: all 0.3s ease;
  }

  .nav__link:hover,
  .nav__link:focus {
    transform: translateY(-2px);
    color: var(--text-hover);
  }

  .hero {
    height: 100vh;
    background-position: 60%;
  }

  .hero__content {
    background-color: transparent;
  }

  .about-section__list {
    grid-template-columns: repeat(3, 1fr);
  }
}
